
body {
    padding-top: 50px;
    background: url("../img/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#rightPanel .fa{
    font-size: x-large;
}

#banner{
    margin-top: -20px;
    height: 12em;
    width: 100%;
}

#profilePic{
    border-radius: 50%;
    width: 100%;
    border-color: dimgray;
    border-width: .2em;
    border-style: solid;
}

#leftPanel{

    margin: 1em 0 0 1%;
    width: 20%;
    float: left;
}

#rightPanel{

    position: relative;
    margin: 1em 0 0 0;
    width: 20%;
    right: 1%;
    float: right;
}

.fixedPos{
    position: fixed;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#note{
    margin: 1em;
    width: 98%;
}

#midHolder{
    margin-top: 1em;
    margin-left: 22%;
    margin-right: 22%;
}

.padLeft{
    margin-left: 2em;
}

.screenShot{
    width: 25%;
}


